form{
    margin:1%;
    background-color: white;
    border-radius: 20px;
    color: black;
    width:fit-content;
    padding: 5%;
    
}
label{
    color: black;
}
hr{
    color: black;
    
}
textarea{
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    display:block;
    width: 100%;
}
h1{
    font-weight: bold;
}